* {
    font-family: customfont;
}

body {
    background-color: rgb(0, 0, 0);
}

@font-face {
    font-family: customfont;
    src: url(./font/Courier\ Prime\ Code.ttf);
}

#about-container {
    display: flex;
    width: 100%;
    height: 100%;

}

#contact-info, #main-cont {
    background-color: rgb(255, 219, 240);
    border: 5px solid rgb(255, 153, 213);
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
}

#internal-cont {
    border: 2px solid rgb(255, 153, 213);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    box-shadow: 3px 4px 5px rgba(255, 1, 128, 0.497);
}

#contact-info {
    flex: 0.25;
    text-align: center;
    margin: 40px 0;
}

#contact-info i {
    font-size: 30px;
    padding: 5px;
}

#contact-info a {
    text-decoration: none;
    color: hotpink;
}

#contact-info a:hover {
    color: rgb(249, 38, 144);
}

#personal-links {
    margin-top: 50px;
}

#page-links button {
    background: none;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid rgba(255, 105, 180, 0.373);
    border-radius: 20px;
    color: black;
    box-shadow: 2px 2px 4px rgba(97, 36, 67, 0.373);
    width: 100%;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#main-cont {
    flex: 2;
    margin: 40px;
}

#main-cont ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

#main-cont ul li {
    width: 50%;
    margin-bottom: 10px; 
}

#main-cont ul i {
    color: hotpink
}

#main-cont ol {
    list-style: none;
}

.fav-cont {
    flex: 3;
}

.fav-cont a {
    text-decoration: none;
}

.fav-cont img {
    width: 10vw;
    max-width: 120px;
    min-width: 110px;
    min-height: 150px;
    height: 16vh;
    margin: 8px;
    box-shadow: 3px 4px 5px rgb(57, 56, 56);
}

#education p,
#experience p,
#skills p {
    font-size: 14px;
}

.proj ul p {
    font-size: 12px;
}

.proj li {
    border-bottom: 3px solid rgba(0, 0, 0, 0.075);
    padding: 20px 0px;
}

.expandable {
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    color: black;
}

.expandable-content {
    max-height: 0;
    visibility: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0 10px;
}

.expandable-content.active {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
}

.arrow {
    font-size: 15px;
    display: inline-block;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    vertical-align: bottom;
}

.arrow.up {
    transform: rotate(180deg);
}

.expandable.active {
    color: hotpink;
}

.expandable:hover {
    color: rgb(178, 70, 124);
}

.collapsible {
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 17px;
    width: 100%;
    text-align: left;
    color: hotpink;
}

.expandable.active {
    border-bottom: none;
}

.collapsible.collapse,
.expandable {
    border-bottom: 3px solid rgba(0, 0, 0, 0.075);
    padding-bottom: 2%;
    border-radius: 5px;
    margin: 5px;
}

.collapsible-content,
.expandable-content {
    border-bottom: 3px solid rgba(0, 0, 0, 0.075);
    padding-bottom: 3%;
    margin-bottom: 50px;
    height: 100%;
    border-radius: 5px;
}

.collapsible-content {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
    transition: max-height 0.2s ease-out;
}

.collapsible:hover,
.collapsible.collapse:hover {
    color: rgb(178, 70, 124);
}

.collapsible.collapse {
    color: black;
}

.collapsible-content.collapse {
    max-height: 0;
    visibility: hidden;
    padding: 0 10px;
}

.info-prompt {
    cursor: pointer;
}

.info {
    width: 40%;
    position: absolute;
    right: 8%;
    top: 10%;
    background-color: rgb(255, 219, 240);
    border: 2px solid rgb(255, 153, 213);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 3px 4px 5px rgba(255, 1, 128, 0.497);
}

h3 {
    font-size: 18px;
}